body
{
    background-image: radial-gradient(ellipse farthest-corner, #674B98, #221833);
    background-attachment: fixed;
    width: 100dvw;
    height: 100dvh;
    max-width: 100dvw;
    max-height: 100dvh;
    margin: 0;
    padding: 0;
}

div
{
    position: relative;
}

header
{
    background-image: linear-gradient(to bottom, #541CB6, #250C50);
    top: 0;
    position: relative;
    border-radius: 8px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

footer
{
    background-image: linear-gradient(to bottom, #250C50, #541CB6);
    bottom: 0;
    position: absolute;
    border-radius: 8px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

a[href]
{
    color:white;
    text-decoration: none;
}

input
{
    background-color: white;
    font-size: 2em;
    width: 35dvw;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    border-radius: 8px;
    position: relative;
}

.flex-container
{
    box-sizing: content-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 1em;
    padding: 0;
    gap: 1em;
}

.heads
{
    box-sizing: border-box;
    background-image: linear-gradient(to bottom, #250C50, #541CB6);
    text-align: center;
    color: white;
    font-size: 3em;
    height: 10%;
    width: 90%;
    padding: .5em;
    margin: 0;
}

.center-vert
{
    box-sizing: border-box;
    top: 30%;
    transform: translate(0, -50%);
}

.center-hor
{
    box-sizing: border-box;
    left: 50%;
    transform: translate(-50%, 0);
}

.material-symbols-outlined 
{
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48,
}

input.currency
{
    width: 18dvw;
    height: 3dvh;
}

div.currency
{
    width: 60dvw;
    justify-content: center;
    align-items: center;
    
}



